{% extends 'pizzashop/base.html' %}
{% load bootstrap4 %}

{% block page %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="card">
    <div class="card-heading bg-ruby">
      <h4 class="card-title text-center text-white">
        Добавить Пиццу
      </h4>
    </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-red">Добавить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
