{% extends 'base_signup.html' %}
{% load bootstrap4 %}
{% block title %}
    Войти
{% endblock %}
{% block heading %}
    Пиццерия - страница входа!
{% endblock %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-red float-right">Войти</button>
</form>
<a href="{% url 'pizzashop-sign-up' %}">Зарегистрировать Пиццерию</a>
{% endblock %}

