{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body class="bg-ruby">
<div class="container">
    <div class="row">
    {# <div class="row justify-content-center center"> #}
        <div class="col-lg-4 offset-lg-4">
            <br/>
            <br/>
            <br/>
            <div class="card card-body">
                <div class="card-body">
                     <h3 class="text-center text-uppercase">
                     {% block heading %}
                     {% endblock %}</b></h3>
                     <br/>
                     {% block content %}
                     {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
